<header class="header">
    <nav class="nav">
        <p>Bienvenido al Website de Servicios en Linea 1.0.0.0</p>
        <p>Derechos reservados Banco Azteca de Guatemala</p>
        <ul class="menu">
            <li>
                <a href="#">
                    'Nombre' Cajero
                </a>
            </li>
            <li>
                <a href="#">
                    Cambiar contraseña
                </a>
                <i class="bi bi-lock-fill"></i>
            </li>
            <li>
                <a href="#">
                    Cambiar impresora
                </a>
                <i class="bi bi-printer-fill"></i>
            </li>
            <li>
                <a routerLink="/login">
                    Salir
                </a>
                <i class="bi bi-box-arrow-right"></i>
            </li>
        </ul>
    </nav>
</header>
