<div class="bg-section">
    <app-navbar></app-navbar>
    <div class="flex-content">
        <app-menu></app-menu>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <span>Servicios</span>
                </div>
                <div class="card-body fw-bold">
                    <span>Selecciona el proveedor</span>
                    <ul class="list-items">
                        <li class="card-item">
                            <div class="card-item-header">
                                <div class="circle">
                                    <i class="bi bi-coin"></i>
                                </div>
                            </div>
                            <div class="card-item-body">
                                lorem ipsum
                            </div>
                        </li>
                        <li class="card-item">
                            <div class="card-item-header">
                                <div class="circle">
                                    <i class="bi bi-coin"></i>
                                </div>
                            </div>
                            <div class="card-item-body">
                                lorem ipsum
                            </div>
                        </li>
                        <li class="card-item">
                            <div class="card-item-header">
                                <div class="circle">
                                    <i class="bi bi-coin"></i>
                                </div>
                            </div>
                            <div class="card-item-body">
                                lorem ipsum
                            </div>
                        </li>
                        <li class="card-item">
                            <div class="card-item-header">
                                <div class="circle">
                                    <i class="bi bi-coin"></i>
                                </div>
                            </div>
                            <div class="card-item-body">
                                lorem ipsum
                            </div>
                        </li>
                        <li class="card-item">
                            <div class="card-item-header">
                                <div class="circle">
                                    <i class="bi bi-coin"></i>
                                </div>
                            </div>
                            <div class="card-item-body">
                                lorem ipsum
                            </div>
                        </li>
                        <li class="card-item mg-b-10">
                            <div class="card-item-header">
                                <div class="circle">
                                    <i class="bi bi-coin"></i>
                                </div>
                            </div>
                            <div class="card-item-body">
                                lorem ipsum
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="card-footer">
                    <form class="form mg-b-10">
                        <label class="fw-bold" for="proveedores">Buscar otro proveedor</label>
                        <select class="select-lg select-focus" name="" id="">
                            <option value="1">Ingresa nombre del proovedor</option>
                            <option value="2">lorem ipsum</option>
                            <option value="3">lorem ipsum</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <span>Datos de la operación</span>
                </div>
                <div class="card-body fw-bold">
                    <div class="row">
                        <form class="form">
                            <div class="form-operacion">
                                <div class="form-operacion-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <label for="">Número de servicio</label>
                                                <input type="text" placeholder="Ingresa referencia">
                                            </div>
                                            <div class="row">
                                                <label for="">Nombre del cliente</label>
                                                <input type="text" disabled>
                                            </div>
                                            <div class="row">
                                                <div class="input-group">
                                                    <label for="">Importe a pagar</label>
                                                    <span class="input-group-text">Q</span>
                                                    <input type="text" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-operacion-btn">
                                    <div class="row">
                                        <div class="btn-search">
                                            <button class="btn btn-bg-g">
                                                <i class="bi bi-search"></i>
                                                Buscar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="card-pago">
                            <form action="">
                                <div class="form-pago">
                                    <div class="col">
                                        <label for="">Monto recibido</label>
                                        <div class="input-group">
                                            <span class="input-group-text">Q</span>
                                            <input class="input-pago" type="text">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="">Pago</label>
                                        <div class="input-group">
                                            <span class="input-group-text">Q</span>
                                            <input class="input-pago" type="text" disabled>
                                        </div>
                                    </div>
                                    <button class="btn btn-bg-g">
                                        Q Pagar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>