<section class="view-container animate-fade-up ng-scope">
    <div class="page-signin ng-scope">
        <div class="wrapper">
            <div class="main-body">
                <div class="body-inner">
                    <div class="card bg-white">
                        <form class="form-signin" autocomplete="off">
                            <div class="card-content">
                                <section class="logo text-center">
                                    <h1><a href="#/" style=" text-decoration: none; color:#006341;" class="ng-binding">Bienvenido Agente Bancario</a></h1>
                                </section>
                                <div class="form-horizontal ng-pristine ng-valid">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="text" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Correo Electrónico</label>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-lock.png">
                                                <input class="form-control" maxlength="20" type="password" value="">
                                                <span class="input-bar"></span>
                                                <span class="field-validation-valid text-danger"></span>
                                                <label class="originalLogin">Contraseña</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="card-action no-border text-right">
                                <button style="color:white; background-color:#006341;" routerLink="/home" class="btn btn-md btn-block btn-login" type="button">Iniciar Sesión</button>
                            </div>
                        </form>
                    </div>
                    <div class="additional-info">
                        <a type="button" routerLink="/olvido-contrasena">Cambiar Contraseña</a>                        
                        <br>
                        <br>
                        <a type="button" href="#">1.0.0.0</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
