<section class="view-container animate-fade-up ng-scope">
    <div class="page-signin ng-scope">
        <div class="wrapper">
            <div class="main-body">
                <div class="body-inner">
                    <div class="card bg-white">
                        <div class="card-content">
                            <section class="logo text-center">
                                <span style="color:#006341;">¿Cuentas con un código?</span>
                            </section>
                            <form autocomplete="off" class="form-horizontal ng-pristine ng-valid">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="ui-input-group inputgroup">
                                            <img class="iconLogin" src="../../../assets/icon-user.png">
                                            <input class="form-control" type="text" value="">
                                            <span class="input-bar"></span>
                                            <label>Correo Electrónico</label>
                                        </div>
                                    </div>
                                    <div class="card-action no-border text-center">
                                        <button type="button" class="btn" style="background-color:#006341; color:white;">Enviar Codigo</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <a type="button" class="btn" style="color:white; font-size:15px;" routerLink="/login">Regresar</a>
                </div>
            </div>

        </div>

    </div>
</section>
