.iconLogin {
    position: absolute;
    margin-top: 15px;
    margin-left: -30px;
    font-size: 20px !important;
}

.inputgroup {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.page-signin .body-inner:before {
    background-color: #006341 !important;
}

button,
input {
    vertical-align: baseline;
}

button {
    cursor: pointer;
    -webkit-appearance: button;
}

button,
input {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button,
input {
    font-size: 100%;
}

section {
    display: block;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

button,
input {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
}

input {
    line-height: normal;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #5387B6;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #004a43;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #3D4051;
    background-color: #fff;
    background-image: none;
    border: 1px solid #CBD5DD;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-group {
    margin-bottom: 15px;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    content: " ";
    display: table;
}

.form-horizontal .form-group:after {
    clear: both;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:focus,
.btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #3D4051;
    text-decoration: none;
}

.btn:active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

::selection {
    background: #5387B6;
    color: #fff;
}

:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

.no-border {
    border: 0;
}

.bg-white {
    background-color: #fff;
    color: #3D4051;
}

.bg-white {
    background-color: #fff;
    color: #3D4051;
}

.form-control {
    border-width: 1px;
    box-shadow: none;
}

.form-control:focus {
    border-color: #5387B6;
    box-shadow: none;
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card {
    position: relative;
    overflow: hidden;
    margin: 10px 0 20px 0;
    border-radius: 2px;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.card .card-action {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.card .card-action.no-border {
    border: 0;
}

.ui-input-group {
    position: relative;
    margin: 18px 0 12px;
}

.ui-input-group .form-control:focus {
    border-color: #5387B6;
}

.ui-input-group>input {
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid #CBD5DD;
}

.ui-input-group>input:focus {
    outline: none;
}

.ui-input-group>input:focus~label,
.ui-input-group>input:valid~label {
    top: -20px;
    left: 0;
    font-size: 12px;
}

.ui-input-group>input:valid~label {
    color: #999;
}

.ui-input-group>input:focus~label {
    color: #5387B6;
}

.ui-input-group>input:focus~.input-bar:before,
.ui-input-group>input:focus~.input-bar:after {
    width: 50%;
}

.ui-input-group>label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.ui-input-group .input-bar {
    position: relative;
    display: block;
    width: 100%;
}

.ui-input-group .input-bar:before,
.ui-input-group .input-bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5387B6;
    -webkit-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.ui-input-group .input-bar:before {
    left: 50%;
}

.ui-input-group .input-bar:after {
    right: 50%;
}

.page-signin .card {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-signin .wrapper {
    padding: 0 10px;
}

.page-signin .main-body {
    max-width: 480px;
    margin: 10px auto;
}

.page-signin .body-inner {
    position: relative;
    padding: 20px;
}

.page-signin .body-inner:before {
    z-index: -1;
    content: ' ';
    line-height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5387B6;
    height: 220px;
}

.page-signin .card .card-content {
    padding: 30px 20px;
}

.page-signin .ui-input-group .form-control {
    color: #555;
}

.page-signin .form-group {
    position: relative;
    margin: 0;
}

.page-signin .wrapper {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .page-signin .wrapper {
        margin-top: 150px;
    }
}

.page-signin .logo {
    font-size: 26px;
    font-weight: normal;
}