<section class="view-container animate-fade-up ng-scope">
    <div class="page-signin ng-scope">
        <div class="wrapper">
            <div class="main-body">
                <div class="body-inner">
                    <div class="card bg-white">
                        <form class="form-signin" autocomplete="off">
                            <div class="card-content">
                                <section class="logo text-center">
                                    <h1><a href="#/" style=" text-decoration: none; color:#006341;" class="ng-binding">Registrar Cliente</a></h1>
                                </section>
                                <div class="form-horizontal ng-pristine ng-valid">
                                    <fieldset>
                                        <div class="form-group">
                                            <span class="input-bar"></span>
                                            <label class="originalLogin">Información personal</label><br><br>
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="text" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Nombre</label>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="text" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Apellido Paterno</label>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="text" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Apellido Materno</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="text" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">E-mail</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="text" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Teléfono</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <select class="form-control" name="" id="">
                                                    <option value="0">Sexo</option>
                                                    <option value="1">Masculino</option>
                                                    <option value="2">Femenino</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <select class="form-control" name="" id="">
                                                    <option value="0">Estado civil</option>
                                                    <option value="1">Soltero</option>
                                                    <option value="2">Casado</option>
                                                    <option value="3">Divorciado</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="originalLogin">Nacimiento</label>
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <select class="form-control" name="" id="">
                                                    <option value="0">Elige un país de nacimiento</option>
                                                    <option value="1">México</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">                                           
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <select class="form-control" name="" id="">
                                                    <option value="0">Elige un lugar de nacimiento</option>
                                                    <option value="1">México</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="date" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Fecha de nacimiento</label>
                                            </div>
                                        </div>                    
                                        <div class="form-group">
                                            <label class="originalLogin">Trabajo</label>
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <select class="form-control" name="" id="">
                                                    <option value="0">Elige una empresa</option>
                                                    <option value="1">TRUPER</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <select class="form-control" name="" id="">
                                                    <option value="0">Elige una ocupación</option>
                                                    <option value="1">Desarrollador</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <span class="input-bar"></span>
                                            <label class="originalLogin">Dirección</label>
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <select class="form-control" name="" id="">
                                                    <option value="0">Elige un país</option>
                                                    <option value="0">México</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <select class="form-control" name="" id="">
                                                    <option value="0">Elige un estado</option>
                                                    <option value="0">México</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <select class="form-control" name="" id="">
                                                    <option value="0">Elige un municipio</option>
                                                    <option value="0">México</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <select class="form-control" name="" id="">
                                                    <option value="0">Elige una Localidad</option>
                                                    <option value="0">México</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="text" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Calle</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="text" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Número exterior</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="text" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Número interior</label>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="" class="originallo">Identificación</label><br><br>
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="text" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Folio</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="date" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Fecha de emisión</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ui-input-group inputgroup">
                                                <img class="iconLogin" src="../../../assets/icon-user.png">
                                                <input class="form-control" type="date" value="">
                                                <span class="input-bar"></span>
                                                <label class="originalLogin">Fecha de vencimiento</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="card-action no-border text-right">
                                <button style="color:white; background-color:#006341;" routerLink="/home" class="btn btn-md btn-block btn-login" type="button">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
