<section class="view-container animate-fade-up ng-scope">
    <div class="page-signin ng-scope">
        <div class="wrapper">
            <div class="main-body">
                <div class="body-inner container">
                    <div class="card bg-white">
                        <section class="logo text-center">
                            <h1><a href="#/" style=" text-decoration: none; color:#006341;" class="ng-binding">Registrar
                                    Cliente</a></h1>
                        </section>
                        <div class="progress-bar">
                            <div class="step">
                                <p>
                                    Información personal
                                </p>
                                <div class="bullet">
                                    <span>1</span>
                                </div>
                                <div class="check fas fa-check"></div>
                            </div>
                            <div class="step">
                                <p>
                                    Lugar de nacimiento
                                </p>
                                <div class="bullet">
                                    <span>2</span>
                                </div>
                                <div class="check fas fa-check"></div>
                            </div>
                            <div class="step">
                                <p>
                                    Trabajo
                                </p>
                                <div class="bullet">
                                    <span>3</span>
                                </div>
                                <div class="check fas fa-check"></div>
                            </div>
                            <div class="step">
                                <p>
                                    Dirección
                                </p>
                                <div class="bullet">
                                    <span>4</span>
                                </div>
                                <div class="check fas fa-check"></div>
                            </div>
                            <div class="step">
                                <p>
                                    Identificación
                                </p>
                                <div class="bullet">
                                    <span>5</span>
                                </div>
                                <div class="check fas fa-check"></div>
                            </div>
                        </div>
                        <div class="form-outer">
                            <form class="form-signin" autocomplete="off">
                                <div class="card-content">
                                    <div class="form-horizontal ng-pristine ng-valid">
                                        <fieldset>
                                            <div class="page slide-page">
                                                <div class="title">
                                                    <span class="input-bar"></span>
                                                    <label class="originalLogin">Información personal</label>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="text" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Nombre</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="text" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Apellido Paterno</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="text" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Apellido Materno</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="text" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">E-mail</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="text" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Teléfono</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <select class="form-control" name="" id="">
                                                            <option value="0">Sexo</option>
                                                            <option value="1">Masculino</option>
                                                            <option value="2">Femenino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <select class="form-control" name="" id="">
                                                            <option value="0">Estado civil</option>
                                                            <option value="1">Soltero</option>
                                                            <option value="2">Casado</option>
                                                            <option value="3">Divorciado</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field">
                                                    <button class="firstNext next">Siguiente</button>
                                                </div>
                                            </div>
                                            <div class="page">
                                                <div class="title">
                                                    <span class="input-bar"></span>
                                                    <label class="originalLogin">Lugar de Nacimiento</label>
                                                </div>
                                                <div class="form-group">                                            
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <select class="form-control" name="" id="">
                                                            <option value="0">Elige un país de nacimiento</option>
                                                            <option value="1">México</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <select class="form-control" name="" id="">
                                                            <option value="0">Elige un lugar de nacimiento</option>
                                                            <option value="1">México</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="date" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Fecha de nacimiento</label>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field btns">
                                                    <button class="prev-1  prev">Anterior</button>
                                                    <button class="next-1  next">Siguiente</button>                                            
                                                </div> 
                                            </div>
                                            <div class="page">
                                                <div class="title">
                                                    <span class="input-bar"></span>
                                                    <label class="originalLogin">Trabajo</label>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <select class="form-control" name="" id="">
                                                            <option value="0">Elige una empresa</option>
                                                            <option value="1">TRUPER</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <select class="form-control" name="" id="">
                                                            <option value="0">Elige una ocupación</option>
                                                            <option value="1">Desarrollador</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field btns">
                                                    <button class="prev-2  prev">Anterior</button>
                                                    <button class="next-2  next">Siguiente</button>                                            
                                                </div> 
                                            </div>
                                            <div class="page">
                                                <div class="title">
                                                    <span class="input-bar"></span>
                                                    <label class="originalLogin">Dirección</label>
                                                </div>
                                                <div class="form-group">
                                                    <span class="input-bar"></span>
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <select class="form-control" name="" id="">
                                                            <option value="0">Elige un país</option>
                                                            <option value="0">México</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <select class="form-control" name="" id="">
                                                            <option value="0">Elige un estado</option>
                                                            <option value="0">México</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <select class="form-control" name="" id="">
                                                            <option value="0">Elige un municipio</option>
                                                            <option value="0">México</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <select class="form-control" name="" id="">
                                                            <option value="0">Elige una Localidad</option>
                                                            <option value="0">México</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="text" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Calle</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="text" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Número exterior</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="text" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Número interior</label>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field btns">
                                                    <button class="prev-3  prev">Anterior</button>
                                                    <button class="next-3  next">Siguiente</button>                                            
                                                </div> 
                                            </div>
                                            <div class="page">
                                                <div class="title">
                                                    <span class="input-bar"></span>
                                                    <label class="originalLogin">Identificación</label>
                                                </div>
                                                <div class="form-group">
                                                    
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="text" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Folio</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="date" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Fecha de emisión</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="ui-input-group inputgroup">
                                                        <img class="iconLogin" src="../../../assets/icon-user.png">
                                                        <input class="form-control" type="date" value="">
                                                        <span class="input-bar"></span>
                                                        <label class="originalLogin">Fecha de vencimiento</label>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="field btns">
                                                    <button class="prev-4  prev">Anterior</button>
                                                    <button class="submit">Registrar</button>                                            
                                                </div> 
                                            </div>      
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>