<div class="card">
    <div class="logo">
        <img src="../../../assets/logo-aztk.png" alt="Logo banco azteca">
    </div>
    <div class="menu">
        <ul class="list-icons">
            <li>
                <a href="#"></a>
                <i class="bi bi-list"></i>
            </li>
            <li>
                <a routerLink="/home">Inicio</a>
                <i class="bi bi-house-door-fill"></i>
            </li>
            <li>
                <a routerLink="/remesas">Pago de remesas</a>
                <i class="bi bi-quora"></i>
            </li>
            <li>
                <a routerLink="/servicios">Pago de servicios</a>
                <i class="bi bi-grid-3x3-gap-fill"></i>
            </li>
            <li>
                <a routerLink="/credito">Pago de crédito</a>
                <i class="bi bi-credit-card-2-front-fill"></i>
            </li>
            <li>
                <a routerLink="/cuestionario">Cuestionarios</a>
                <i class="bi bi-journal-text"></i>
            </li>
            <li>
                <a routerLink="/registro-transacciones">Reporte de transacciones</a>
                <i class="bi bi-journal-check"></i>
            </li>
        </ul>
    </div>
</div>
